.navbar-list{
    font-size:20px;
    display:flex;
    list-style: none;
    justify-content: space-between;
}

.main-Div{
    background-color: antiquewhite;
    height: 90%;

}

.welcome-text{
    color:green;
}
.pagesdiv{
    text-align:center;
}